interactions:
- request:
    body: '{"value": "secVal05b50e84"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5b50e84.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body: {string: '{"value":"secVal05b50e84","id":"https://vault5b50e84.vault.azure.net/secrets/sec0/f164864c9f764f82afdf8cd6e5225718","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5b50e84.vault.azure.net/secrets?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault5b50e84.vault.azure.net/secrets/sec0","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec1","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec2","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec3","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec4","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec5","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}},{"id":"https://vault5b50e84.vault.azure.net/secrets/sec6","attributes":{"enabled":true,"created":1556041459,"updated":1556041459,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
