interactions:
- request:
    body: '{"value": "secVal24c80f77"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault24c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body: {string: '{"value":"secVal24c80f77","id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/ab1b36b7f77b4b4e8c3810fd8de5063f","attributes":{"enabled":true,"created":1556041117,"updated":1556041117,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/351b6bb1d32b4a02902b10998983b77b","attributes":{"enabled":true,"created":1556041118,"updated":1556041118,"recoveryLevel":"Purgeable"}},{"id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/4ae8d9eb0b684b7da7849422379d779e","attributes"[...]
