interactions:
- request:
    body: '{"value": "crud_secret_valuec01d1319"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72","attributes":{"enabled":true,"created":1556041260,"updated":1556041260,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72","attributes":{"enabled":true,"created":1556041260,"updated":1556041260,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72","attributes":{"enabled":true,"created":1556041260,"updated":1556041260,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"contentType": "text/plain", "attributes": {"exp": 2527401600}, "tags":
      {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72?api-version=7.0
  response:
    body: {string: '{"contentType":"text/plain","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/3916b7b1c4094b3c93281b1b3d18ad72","attributes":{"enabled":true,"exp":2527401600,"created":1556041260,"updated":1556041261,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        crud-secret"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
