interactions:
- request:
    body: '{"value": "secval024420f5b"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b?api-version=7.0
  response:
    body: {string: '{"value":"secval024420f5b","id":"https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b/b34cc78849a64b228fa2341b0d189a0c","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "secval024420f5b"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault24420f5b.vault.azure.net/secrets/secprg024420f5b?api-version=7.0
  response:
    body: {string: '{"value":"secval024420f5b","id":"https://vault24420f5b.vault.azure.net/secrets/secprg024420f5b/636c3d5e7b254239ac6b08633e9087cf","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault24420f5b.vault.azure.net/deletedsecrets/secrec024420f5b","deletedDate":1556041155,"scheduledPurgeDate":1563817155,"id":"https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b/b34cc78849a64b228fa2341b0d189a0c","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24420f5b.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault24420f5b.vault.azure.net/deletedsecrets/secprg024420f5b","deletedDate":1556041157,"scheduledPurgeDate":1563817157,"id":"https://vault24420f5b.vault.azure.net/secrets/secprg024420f5b","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24420f5b.vault.azure.net/deletedsecrets?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMzIhTURBd01EVTFJWE5sWTNKbGRDOVRSVU5TUlVNMU1qUTBNakJHTlVJdk56UXlNa1V6T1VGQk5qaERORU16Tnprek9VWTFSa1pFTURNMFFrSTRRVFFoTURBd01ESTRJVGs1T1RrdE1USXRNekZVTWpNNk5UazZOVGt1T1RrNU9UazVPVm9oIiwiVGFyZ2V0TG9jYXRpb24iOjB9
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault24420f5b.vault.azure.net/deletedsecrets/secrec624420f5b","deletedDate":1556041157,"scheduledPurgeDate":1563817157,"id":"https://vault24420f5b.vault.azure.net/secrets/secrec624420f5b","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://vault24420f5b.vault.azure.net/deletedsecrets/secrec024420f5b/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b/b34cc78849a64b228fa2341b0d189a0c","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault24420f5b.vault.azure.net/deletedsecrets/secprg024420f5b?api-version=7.0
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b/?api-version=7.0
  response:
    body: {string: '{"value":"secval024420f5b","id":"https://vault24420f5b.vault.azure.net/secrets/secrec024420f5b/b34cc78849a64b228fa2341b0d189a0c","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24420f5b.vault.azure.net/secrets/secrec624420f5b/?api-version=7.0
  response:
    body: {string: '{"value":"secval624420f5b","id":"https://vault24420f5b.vault.azure.net/secrets/secrec624420f5b/ebbbfcd30d7742d482df7124d2d0976e","attributes":{"enabled":true,"created":1556041154,"updated":1556041154,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
