interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://bfqhc6jxjr3g5zd6nyrzszym.vault.azure.net/secrets/secret0?api-version=7.1-preview
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/secret0/cfabb0bcec7746ea9d18e2bddde81826","attributes":{"enabled":true,"created":1591744724,"updated":1591744724,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://bfqhc6jxjr3g5zd6nyrzszym.vault.azure.net/secrets/secret0?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591744725,"scheduledPurgeDate":1599520725,"id":"https://vaultname.vault.azure.net/secrets/secret0/cfabb0bcec7746ea9d18e2bddde81826","attributes":{"enabled":true,"created":1591744724,"updated":1591744724,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://bfqhc6jxjr3g5zd6nyrzszym.vault.azure.net/secrets/secret0?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://bfqhc6jxjr3g5zd6nyrzszym.vault.azure.net/deletedsecrets/secret0?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591744725,"scheduledPurgeDate":1599520725,"id":"https://vaultname.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1591744724,"updated":1591744724,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":[...]
