interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/secret0/688ea4697db3479a96f0b5c8bf35f34b","attributes":{"enabled":true,"created":1591743210,"updated":1591743210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591743211,"scheduledPurgeDate":1599519211,"id":"https://vaultname.vault.azure.net/secrets/secret0/688ea4697db3479a96f0b5c8bf35f34b","attributes":{"enabled":true,"created":1591743210,"updated":1591743210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591743211,"scheduledPurgeDate":1599519211,"id":"https://vaultname.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1591743210,"updated":1591743210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.1-preview
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/secrets/secret0/688ea4697db3479a96f0b5c8bf35f34b","attributes":{"enabled":true,"created":1591743210,"updated":1591743210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/secret0/?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"A secret with (name/id)
        secret0 was not found in this key vault. If you recently deleted this secret
        you may be able to recover it using the correct recovery command. For help
        resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/secret5/?api-version=7.1-preview
  response:
    body:
      string: '{"value":"value5","id":"https://vaultname.vault.azure.net/secrets/secret5/313470ba077d4bca82a98b801544997e","attributes":{"enabled":true,"created":1591743211,"updated":1591743211,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
