interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://tnjbfpshhf2iryotrm7avnkj.vault.azure.net/secrets/secret0?api-version=7.1-preview
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/secret0/7e00c29acec14a2792ded922e15976d8","attributes":{"enabled":true,"created":1591744725,"updated":1591744725,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tnjbfpshhf2iryotrm7avnkj.vault.azure.net/secrets/secret0?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591744726,"scheduledPurgeDate":1599520726,"id":"https://vaultname.vault.azure.net/secrets/secret0/7e00c29acec14a2792ded922e15976d8","attributes":{"enabled":true,"created":1591744725,"updated":1591744725,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tnjbfpshhf2iryotrm7avnkj.vault.azure.net/secrets/secret0?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/secret0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://tnjbfpshhf2iryotrm7avnkj.vault.azure.net/deletedsecrets/secret0?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/secret0","deletedDate":1591744726,"scheduledPurgeDate":1599520726,"id":"https://vaultname.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1591744725,"updated":1591744725,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/deletedsecrets/secret3?api-version=7.1-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tnjbfpshhf2iryotrm7avnkj.vault.azure.net/deletedsecrets/secret3?api-version=7.1-preview
version: 1
