interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256/0d38988d0a8b4cb899190f43c731d81b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"kwVDWqdoHHnLgwYRqrXKIi3RhGw5KWCqf-Xq9LQs59U","y":"007zjfCCCud8STuSmAFOr4_Rn9S0LthF6iEXmQBrRxI"},"attributes":{"enabled":true,"created":1596492935,"updated":1596492935,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/0d38988d0a8b4cb899190f43c731d81b/sign?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256/0d38988d0a8b4cb899190f43c731d81b","value":"4K8sYZpWTtud7Wz-9nAU1dLYAsQiG-61uCTcjAntazEsbYqkp23ie0FmGZJkdAeMh3ZeCw7J1uV9efMwYOdIlA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256K/dcca06a41959472289d0e9b3b042e59d","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"36HHMWCmHHX_7K0RyEEWNweCpDlB37lIHZzp0B4Wdjg","y":"CGHwLmqu72fDfZ0QCpTHdz2ea1oAfKeA2tIcGa7kG8U"},"attributes":{"enabled":true,"created":1596492936,"updated":1596492936,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256K/dcca06a41959472289d0e9b3b042e59d/sign?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256K/dcca06a41959472289d0e9b3b042e59d","value":"QaVUsVeAF_NB68ZYxgWF30cniXVyCpAz3xCU2aemG5tQHXUrpC13K-JuFCpcRMJD2siGfFsLwyF-1tELqCDE9A"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-521/c8120f30b72f48b2b3d072cd62e988ad/sign?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-521/c8120f30b72f48b2b3d072cd62e988ad","value":"AGuVd9qFbI9EbSZ9dLvzwVd6IPXnYFA9O5JlAQTBgeP7ewMMiE1aeJg_vn1Ww4VqjpRL9421AFiIttdy6khJM23IANg3hWfHLdbIsm2Q5AYF_TzjBMVxorFJfUXuhJTFHJ3GF_bgp8Vn_mTaFuHJrifQcO6k7IegPFFng-59uhkpigyC"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
