interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-key-name/f6c392f93e924613bc976c42c7e80c7f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7qEH8IAjmsNu-HoLRNA3E3-L7cVuss8wEIT7U0W-g0jxjZuvQZ21p5Fl2515tQlBM3cZgpJ-_lfJJRP3acb6xwJ2_y65rZ1u3uXRLNEdqVImb6eTcUIYUzLxjEHRLAofK_ZVdWkZZ04yeFt776K8oku-hGYhbOswiN950z4wnjYnlANsFL7O0NcqU76NMtva_KXfHzl2D89uzUZT6BdXQ6vYBcJ2jciNkC-pCB3jGS-wVjj8mdhM31O9p9eHHioU6_KcblrXiC2fKwnPRBkJwJ0Tmo9hSVoWjau-s82v1wZrI8WuAWxQrGM9wy-brafHnZva6BQWCrsFOPcMFRbN2Q","e":"AQAB"},"attributes":{"enabled":true,"created":1596492975,"updated":1596492975,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
