interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"attributes": {"enabled": true}, "kty": "EC-HSM", "tags":
      {"test name": "CreateECKeyTest", "purpose": "unit test"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-ec-key/a090becfd5364006ad9188a3c807b204","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"ExJgivfRVrA_lJnIKHqVmHF_S1zWR7QwwXSIRDwsyK8","y":"x00lzEqWFcbO5N7JUiaRqt16Fbnh6KdONOFOZY9Tkks"},"attributes":{"enabled":true,"created":1596492970,"updated":1596492970,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name":"CreateECKeyTest","purpose":"unit test"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-P-256-ec-key/63a226ec82fe4623a6586cfeeef153b0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"1DdeQHidNK1X3sV_pu1ip41yQdG9vY5m5jzSAkyvKzA","y":"wT_QklJCVJweIsx63ht6Rtj6uurhn3e4qDMkY-dJyzY"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"key": {"q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5Mak7j3OPPY_T9rohjTW5aGGg9YSwq4jdz0RrmBX00ofYOjI3",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "e": "AQAB", "kty": "RSA", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ck[...]
- request:
    body: !!python/unicode '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
      "unwrapKey"], "kty": "RSA", "key_size": 2048, "tags": {"purpose": "unit test",
      "test name ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"exp": 2524723200}, "key_ops": ["decrypt",
      "encrypt"], "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1596492973,"scheduledPurgeDate":1604268973,"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: crud-rsa-key"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1596492973,"scheduledPurgeDate":1604268973,"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/95fa8c6b38454a69a3d6378e8808fdb9","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"rnWYFzN_svFRKJ1xfMVhVft17RFC0pnPgIiZTXCG35_VlBEYk2jk6MaULzx_Orbub6_ZNtCxECF-TYSdOmwIMg_lXydcC2w2uSZ84OoNsnfLzFVvXGJPT13QHs2lfhnjyjUvUdRVDpJoEAyN8vhqIcaAABfWDKT_2tDLde3n8zN7PGT2RpUvk2WXbpKuuVqsYBDPMWzKqBUR3etYELjwvscaWsyAtS0upAWA4GABUzwmYHA9yXryOm4MTlpH6Npt6CnUpG0QkF9MGtx-eofnaGjPkWA0OseMwIxPsP1A-shW3WXZzzrgvHqIziNt4HS0PF23OtSM9cpwccZ1xRVBWw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
