interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/8496eeb41c90457ab91fa21fe0d75772","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1qQhO9WweB83QXASAFgNJ_nT2MoFOmQfF-A4abKAA8r0Wd7bdtw4ZlI95quTF4AdZxaconWkyN9SDO5eg5w5XXObqa2Qm6bSciBzXHhuEfOZb5auls4t1b58TAu4o0CVU7j8SOn7p6orIDFzsb6_zQ43F5zdBGk-Uk7PFFn06Sd6jKtuE0f5Nmss8OFHNjf9GT6Kec4mz6EMUtg0zfyNMfuGbmITGJMSgBu7UMfgtw2r04FHqWVlttTpqNq39Z8pQA1FunVZ3t2a0HxHayEy3C6FzPTXWD3QTA7aObXll5-Bi7vm7xFOwOfwGoXdkrRlp0xjpG66_gwI4yEnv-xARw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key0?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596492974,"scheduledPurgeDate":1604268974,"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/8496eeb41c90457ab91fa21fe0d75772","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1qQhO9WweB83QXASAFgNJ_nT2MoFOmQfF-A4abKAA8r0Wd7bdtw4ZlI95quTF4AdZxaconWkyN9SDO5eg5w5XXObqa2Qm6bSciBzXHhuEfOZb5auls4t1b58TAu4o0CVU7j8SOn7p6orIDFzsb6_zQ43F5zdBGk-Uk7PFFn06Sd6jKtuE0f5Nmss8OFHNjf9GT6Kec4mz6EMUtg0zfyNMfuGbmITGJMSgBu7UMfgtw2r04FHqWVlttTpqNq39Z8pQA1FunVZ3t2a0HxHayEy3C6FzPTXWD3QTA7aObXll5-Bi7vm7xFOwOfwGoXdkrRlp0xjpG66_gwI4yEnv-xARw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596492974,"scheduledPurgeDate":1604268974,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1596493014,"scheduledPurgeDate":1604269014,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
