interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"attributes": {"exp": 2527401600}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/43db199d02f84db5b238c29657209efa","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sPKS-2NkMExzcg_ImXBs11dUKYyZ5EYkD52OYdth1ZpcORUVkLV6zUlzA0Ohy08wKqxSffC_FLCidTdBWGvwQuFjlZaQ3K5ixeAXM6dBeuWvMWmvU1TC56sOwvyjvOJ2UMZMJGgvek3zFqsNgmqV2bNjhZQn7ybYZZ2QlXsIKsTNjKaqncSxnJYUVu7m5T1CC7yBmOTAk9GkkokG4Stm6SYXTkJicyomQWHDi86SP5GG_c5lUtrUWWZbrlTeIclIab-fi0lOAx0753TffowmR1WAUQ4TALr_5mBLZN-PT9__qYtqLrFOni3bs6J2I8GFmTU1euMgV68XtEHsu7Mvyw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
      "unwrapKey"], "kty": "RSA-HSM", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/6d3fc6039b8142f7a9996914325245f2","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ylaSX0J4XQU194nZGQKqooy2qUU-J_F24Wm2z4fTOigJP3FkJzlb02rCdEsx15uGC8LtnZFLApnJYILB95lLO82lEyx0TQdlWNF78rIaKC86Cb4BqKjSFjVOukRuFCu9GKOrhxMGQn4e40Intety9B9-KK_bWyxIiepzyiT4qncWPurmx2N8KYEw45rg7L-pWgbS27cotyRKRiaq_jG6TywyOWhA1n_4fcusBdzci8g31xIdQSDH86dIO6WovPPsWenaDj0oeA9nH2ZIhmC7Jz9z7EvbbARpGXdfptqI61OlQOCCyXC3N7mz1POQHvnpvzkbvc1gZpsocfTbWIfQAQ","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"created":1596492971,"updated":1596492971,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated
      tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-name?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1596492972,"scheduledPurgeDate":1604268972,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1596492972,"scheduledPurgeDate":1604268972,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/d7246a0347f14df0a87ea4685ccdaf7c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yNN06d3IDCamqGeZyVbtrZMFEq3D-RNtiFvwAXin5AY","y":"xubTSwCs_CMu7QQj2WjoDrkxFfmty1VyyXm5gfu3mtA"},"attributes":{"enabled":true,"exp":2524723200,"created":1596492971,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
