interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/e4b57f65fe544b86b3bfad103e00391f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uH1FaHFOOLhacDlDC3Juci1MelACQKSBeGY_EAGx1-eTY9b5sYmZu2yH3P3zssxPtkLdPDzIK-PQidztbulW612JQpUYUNwUlC7YblbjY0AnxdDX1pIlzNL_htRlIhT-vawiaRbBR2mnBzWMhW01FhBwVYlWZ_r4qP0deMAvOSi9Fn-YnLEBuqH2-jr5g8EaMIUSnGmGd3kKBBuIvvANDz-AAega5DX5zFeEHuFXIH4Ac1DOl58s4JZPudA7U2qY8AiDnE0xVj_uRXDiXkfrOaI2TVmcqZR3dsS0XFcEb4BeOQxALpJa9Q0UH-Usw6W029KsS2Yk6TCabW3tK22ucw","e":"AQAB"},"attributes":{"enabled":true,"created":1591745986,"updated":1591745986,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key5?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key5","deletedDate":1591745988,"scheduledPurgeDate":1599521988,"key":{"kid":"https://vaultname.vault.azure.net/keys/key5/b5dd1384735543c3bc49e77c00ac3849","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mSV5kLs3OoJNHDZNYOCV4xdVjn04_SmHobJXegU_ZK0QxanAJn1AqOK91z76IkXiFSmsNezzxsRDpl6SrkhxDdqR0MVjbrlWT_B3t3_7wOmNMeWyg_OZDBSjJ24y38i7R4g5anr1GegADCZFevCCnADPYh4fuBKha9ZFsQ2sIA1DmidlxaemKVu3woF7D8KA4_-7zeO0QIlAHRrrF9Ypw6SpqNxiQmYInW2YwCVV-Lv9Q4T-g9EEYJiVXuz1acbaxYk4WgbWPyMykM92c4wNdfLDXWAxoRB1PIcALB9_md9XtAHlvVE_6YXd79QCYRPNJA6uLdxaUc8tMaIfLUUSdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1591745987,"updated":1591745987,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key5?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key5"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1591745989,"scheduledPurgeDate":1599521989,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1591745986,"updated":1591745986,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1591745988,"scheduledPurgeDate":1599521988,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
[...]
