interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://nxrxx5odm4iyxjcn3e2bypl7.vault.azure.net/keys/key0/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/eac7773f94374258bb3f81f81a51d014","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pr6hVh9W_RQDktl5fA5Na0AfRoWZqqEaKJBTK8lkDJtUJR4MIpAe3aB-u4zhNROMxdyuMTE7Xcg600gXSQIWUow6mEf300DwLLznjP6dIjEJ5foFMtLuvSRya2dvebr2kuXpxLHiYeNgYhR8M6bSwBUTZnyFOJ8aRnlpJ6tprvJQcVGib2KMkiJCWcjFNfj2r-nMQ85hZL3eLkt91_d_EJfGK7E0yPNeprWlzzMl1vnPKu9ta8LtQU141-bOhygUkSTTUNcIZ6_cPA7qRvF6M73y2qMnQxNy0k5aMadMYntovDsizQ3yzn6MqQ1ZAEkTK-kEArxGVuXmAHo0t1Xg9w","e":"AQAB"},"attributes":{"enabled":true,"created":1591745988,"updated":1591745988,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nxrxx5odm4iyxjcn3e2bypl7.vault.azure.net/keys/key0/create?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key6?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key6","deletedDate":1591745990,"scheduledPurgeDate":1599521990,"key":{"kid":"https://vaultname.vault.azure.net/keys/key6/f0430570caf242ebaccc1427a92512c5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tITg4sL61k5GsKtxA8XNkf3n_rqnKuYeKjs0ZPoY_gHdL_i0WF1_SdHdpwAJry0bRGGGdKbfY-ZkrTm9lYE6i6n6gSnmJQOX_CbCwJlmQIRfAbIoLYSnN6BFPNL8II7PRHkswZN_VSzIzcQn5TNUFiVQr1438rJYwTJtv6US444Q7CtGxKXJL23935lYD1bA8ckxI3g1ppuLqdJErCBR8YcOng9REgnZLb_chag2fGfpxO6a49Xrb95EobSmfW0cschJfOpCFUuVAI0lyL0qUPFB5X6WBcT8_JCWScGLt6Id-03HjIVf--7-A8zZxZuIlY761Tgxsc3Eh9XkFQyMdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1591745990,"updated":1591745990,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nxrxx5odm4iyxjcn3e2bypl7.vault.azure.net/keys/key6?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key6?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key6"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://nxrxx5odm4iyxjcn3e2bypl7.vault.azure.net/deletedkeys/key6?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://nxrxx5odm4iyxjcn3e2bypl7.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
version: 1
