interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/618a43da52e34169a1922df160729c9f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pIr4VhCveN_lJWQwz5jBau5IhXHfyTuM9vKhZ4vpg8ACW0nBjH98cz_1YCRboRCgZsuoOFY77y-nOiVL1q3ufVU3XXNfyA3sRTmOjouPu7VV7SrdBwzvNrTb4oWJbzwUC3yqzNT1ouucaNSmEKWBPNHOmeSDDYNT7h5L-FTj4V2fGzSxrX4cXTzWXYxkh5kiUmEkJ6rW3ayKNPf-Ji7RbBhLO_RW8oF4J0asN_B6Q-tJ4metevFMsQF3qL8quepi9fE-2XuQWD9oxRn4XTKhosavLO4SqDTweRe3UfM9Lo14PI62YPw0A9MnAP3cTTIrmjcMNg3liSep0MNe8LIF0Q","e":"AQAB"},"attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/versions?api-version=7.1&maxresults=6
  response:
    body:
      string: !!python/unicode '{"value":[{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/0abe6cffcf3241c3b69a1c67038e6071","attributes":{"enabled":true,"created":1596492973,"updated":1596492973,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/10aebfa96fe449a6a6a0d77b4120d645","attributes":{"enabled":true,"created":1596492973,"updated":1596492973,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/1a396edade2d4e5da1ad2f5b6c5f486f","attributes":{"enabled":true,"created":1596492974,"updated":1596492974,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/5aa3b4e4a83540dabc068d5c6965a46b","attributes":{"enabled":true,"created":1596492973,"updated":1596492973,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/618a43da52e34169a1922df160729c9f","attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/a0fb91400e4f4a2da24d43c6d13d0d9e","attributes":{"enabled":true,"created":1596492973,"updated":1596492973,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":"https://vaultname.vault.azure.net:443/keys/testKeyf5fa0e28/versions?api-version=7.1&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjghTURBd01EVXlJV3RsZVM5VVJWTlVTMFZaUmpWR1FUQkZNamd2UVRZNVFVUXdSakl3TWpRNU5EaEdOVUkwUXpjMlFqWXhNa0ZFTWpVMU9VVWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=6"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/versions?api-version=7.1&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjghTURBd01EVXlJV3RsZVM5VVJWTlVTMFZaUmpWR1FUQkZNamd2UVRZNVFVUXdSakl3TWpRNU5EaEdOVUkwUXpjMlFqWXhNa0ZFTWpVMU9VVWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=6
  response:
    body:
      string: !!python/unicode '{"value":[{"kid":"https://vaultname.vault.azure.net/keys/testKeyf5fa0e28/a69ad0f2024948f5b4c76b612ad2559e","attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
