interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-key-name/c885d1dee7d74d47b39ec6e0158270c1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4kVIK65LiHDUtBLNcNrx3NMWkF6WV7I_PhCcg-rTB6KUZhwnmfPvmcvP02ht87z6HLYqRhi9nd95PoETiX8w5HsInLbdKaWkhTDnHda8_FwbRZqamYhR7TsW35avPF_8PKwJVtfsAC3QYxE1kDOsnHs4iDnyKEWxkbk1BxGc2SMZDMLnP5tkilMIbLzPN80BmvkCJYoEUAGZ8Y_KMLVd5IFG-zOohUPvKAfH8OA7jl5qd8e2NlpgiYWJXDgNSP2WRd-sIH1a1_VOz2WVn8oO46hMTGHAVwGdi4zg8ZNCw5kzppq1PJMwJfPQpG5iNd-fPCnmW36_KxQ8Hkp8aIZNKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596492972,"updated":1596492972,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
