interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/c8766b6e9076441796b6587b13166acd","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tJpQU-kVRRvS91Me9GVxce_BzTnDXliU8eEIvyM1Sgy19ZYt0W8bIkk8KtUWj4KPpfiKkBlVmkuxDqnkmaG9Adnw0OobGN1Qkr5OALwosMKafoZJjEDyYv6Kyc_notJBOAyJLnLBvMI7kso8Pfi-dCuHtMEuGhDQ_67lS48Ai7nIMkG2jbrG5hTRq1QLmaB7ssaiMP1cXXOHq43OYe1KtBRnhrLYEXPcPJ27ritSBRrrcf0qjHoSmfMXOSeSkTytiivCthY1lUan8L6VmSGGtyB6wx11lLmRJ84JzvEuTg47Q3q__4gbQE6hS9exliqEpEZ4ldlzhFGA-KK7YV_JKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1591745987,"updated":1591745987,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1591745989,"scheduledPurgeDate":1599521989,"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/c8766b6e9076441796b6587b13166acd","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tJpQU-kVRRvS91Me9GVxce_BzTnDXliU8eEIvyM1Sgy19ZYt0W8bIkk8KtUWj4KPpfiKkBlVmkuxDqnkmaG9Adnw0OobGN1Qkr5OALwosMKafoZJjEDyYv6Kyc_notJBOAyJLnLBvMI7kso8Pfi-dCuHtMEuGhDQ_67lS48Ai7nIMkG2jbrG5hTRq1QLmaB7ssaiMP1cXXOHq43OYe1KtBRnhrLYEXPcPJ27ritSBRrrcf0qjHoSmfMXOSeSkTytiivCthY1lUan8L6VmSGGtyB6wx11lLmRJ84JzvEuTg47Q3q__4gbQE6hS9exliqEpEZ4ldlzhFGA-KK7YV_JKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1591745987,"updated":1591745987,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1591745989,"scheduledPurgeDate":1599521989,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1591745987,"updated":1591745987,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1591745989,"scheduledPurgeDate":1599521989,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
