interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/8845dd8047be40c0a295d9384a06d201","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r6jZe_ZxJhl0Z6o5Y_yjAvw7Bs0KeXC_cSEPdjyVD2SJR454LxdKvOBoyORxJCWRxBqeIRmlzhCI7KYzKNaoLTTCIaL_ha0uPAx5hYCrXWkLJQeBmk9G4b7JzLrxBCbAF-mUJzb3mopxwXSZbcCNhPtFQajHFx68AyW5VqBQhjA-65D1tKatoT9GWUdviUf0FTdS4DBMhpwTeSSu8ciP4QslBuiRsGvpPmNvx1y4czsVpJuveMVcDCvDY2ECZKIRKp4rBtTmX62WOfr9ynlDwDiDJCZZSLiJYI0Ff4r0miKH6uYJebBBWs5ASd1uqxwspuiWU2_k-olLKZ3tappgtQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596493323,"updated":1596493323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key3?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key3","deletedDate":1596493324,"scheduledPurgeDate":1604269324,"key":{"kid":"https://vaultname.vault.azure.net/keys/key3/c2ca22fc8e91446a87de6073ff620989","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xBk_FwLPIwVYKpQIkBRHejf6vhoYUVScyYW7UPSW2nCwt1fHGKzhs_zzTAv0bpZdZc8M-G9n7ukPzDq4Y9_dy1EzX5RTK2610rbT8QRN8YW_92RSSl2EWQ3H20pgnHggNOqf4eXgFoR6V3VkZXF15yZ5NmcyYI-yITEc6TVhTQ2t-12cW4Hxr_faO-YIDPbVjMhtrG5KOK_GYTz7139UdTzarP5jyR66f83wtmmQI3ylU7S3qrc-E10jP39ex5enFqwK3u1iOxfo-7sLDE6U4UOllYPqAA7VkLNaUt_AEg8obh_WoiDgu7PUUVRG9mCxotNka7MUJnifDiZ5hXBvXQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596493323,"updated":1596493323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key3?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: key3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596493428,"scheduledPurgeDate":1604269428,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1596493323,"updated":1596493323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1596493407,"scheduledPurgeDate":1604269407,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key3/recover?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key3/c2ca22fc8e91446a87de6073ff620989","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xBk_FwLPIwVYKpQIkBRHejf6vhoYUVScyYW7UPSW2nCwt1fHGKzhs_zzTAv0bpZdZc8M-G9n7ukPzDq4Y9_dy1EzX5RTK2610rbT8QRN8YW_92RSSl2EWQ3H20pgnHggNOqf4eXgFoR6V3VkZXF15yZ5NmcyYI-yITEc6TVhTQ2t-12cW4Hxr_faO-YIDPbVjMhtrG5KOK_GYTz7139UdTzarP5jyR66f83wtmmQI3ylU7S3qrc-E10jP39ex5enFqwK3u1iOxfo-7sLDE6U4UOllYPqAA7VkLNaUt_AEg8obh_WoiDgu7PUUVRG9mCxotNka7MUJnifDiZ5hXBvXQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596493323,"updated":1596493323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key4/recover?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key4/70e30f43e6e146fd91285118582bccde","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"52yVI1noLIkWx9dA5AyFv0kx2tV4yl26Xs-YWU2hZJS5Upnh2fsi5DKe8r2mUHOCn2pQu1BxfkMsshRrtEJ6D8X8WKhP-NMEGmMILojnUKwI2--BcIKQKat1SWfD9yBwz2Gnzfo8T-uPIQ2zXCE-YxX-4FeUmjnp6Pm6qKX5JZI7Q5yV3ZEp23xppm0kARVWgld5ivMGTLdQ6ijq9lRS6NlYaH7AnHSoFN2L0nj7HAnwdr8CXnlc4kd0Z_hdNLM5rnzWoB4q2oS1j8MqXLiTSyKUQ4TM_kjoBe0UPtigEf4aqRvCrPmQLoRwtRi8ywCO-7Ypy8_KZWMWiNor7vgBOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596493324,"updated":1596493324,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
