interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/0570414ed4754b969880945a8cdff28c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oJGm7FW37DWdxM7_mcZqvJoYztcV5d4QKARiKxeSpEP5K46amogGNXwsW2oRWA4pxr9V6pKVvSoJhNe-G6HphtY13jZaPO80Pfgg-F4sKozdavW9P8ni9SpQ-v06xK0QsZHOB2ezHpPmquxDbhfXlkcWZ51QIHDlROJtNftaj2ytQEkCe-IZAI7rxWgW-BOK1336dTz7OHO5hePhyZ8W0Z9PEi8MOCzNwvBNPvl28m0cnqeFvONvlgCCOvlaidWW5BNZdVMox3bJybFPzEs5jh6GV70AepG0d1dzjq1QRzZs6ysEHzZDFoz8oZcQB1eVY8m8R8hpF-SqLh5srNeMiw","e":"AQAB"},"attributes":{"enabled":true,"created":1596493049,"updated":1596493049,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-name?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1596493050,"scheduledPurgeDate":1604269050,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/0570414ed4754b969880945a8cdff28c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oJGm7FW37DWdxM7_mcZqvJoYztcV5d4QKARiKxeSpEP5K46amogGNXwsW2oRWA4pxr9V6pKVvSoJhNe-G6HphtY13jZaPO80Pfgg-F4sKozdavW9P8ni9SpQ-v06xK0QsZHOB2ezHpPmquxDbhfXlkcWZ51QIHDlROJtNftaj2ytQEkCe-IZAI7rxWgW-BOK1336dTz7OHO5hePhyZ8W0Z9PEi8MOCzNwvBNPvl28m0cnqeFvONvlgCCOvlaidWW5BNZdVMox3bJybFPzEs5jh6GV70AepG0d1dzjq1QRzZs6ysEHzZDFoz8oZcQB1eVY8m8R8hpF-SqLh5srNeMiw","e":"AQAB"},"attributes":{"enabled":true,"created":1596493049,"updated":1596493049,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name/recover?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/0570414ed4754b969880945a8cdff28c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oJGm7FW37DWdxM7_mcZqvJoYztcV5d4QKARiKxeSpEP5K46amogGNXwsW2oRWA4pxr9V6pKVvSoJhNe-G6HphtY13jZaPO80Pfgg-F4sKozdavW9P8ni9SpQ-v06xK0QsZHOB2ezHpPmquxDbhfXlkcWZ51QIHDlROJtNftaj2ytQEkCe-IZAI7rxWgW-BOK1336dTz7OHO5hePhyZ8W0Z9PEi8MOCzNwvBNPvl28m0cnqeFvONvlgCCOvlaidWW5BNZdVMox3bJybFPzEs5jh6GV70AepG0d1dzjq1QRzZs6ysEHzZDFoz8oZcQB1eVY8m8R8hpF-SqLh5srNeMiw","e":"AQAB"},"attributes":{"enabled":true,"created":1596493049,"updated":1596493049,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"A key with
        (name/id) key-name was not found in this key vault. If you recently deleted
        this key you may be able to recover it using the correct recovery command.
        For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/0570414ed4754b969880945a8cdff28c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oJGm7FW37DWdxM7_mcZqvJoYztcV5d4QKARiKxeSpEP5K46amogGNXwsW2oRWA4pxr9V6pKVvSoJhNe-G6HphtY13jZaPO80Pfgg-F4sKozdavW9P8ni9SpQ-v06xK0QsZHOB2ezHpPmquxDbhfXlkcWZ51QIHDlROJtNftaj2ytQEkCe-IZAI7rxWgW-BOK1336dTz7OHO5hePhyZ8W0Z9PEi8MOCzNwvBNPvl28m0cnqeFvONvlgCCOvlaidWW5BNZdVMox3bJybFPzEs5jh6GV70AepG0d1dzjq1QRzZs6ysEHzZDFoz8oZcQB1eVY8m8R8hpF-SqLh5srNeMiw","e":"AQAB"},"attributes":{"enabled":true,"created":1596493049,"updated":1596493049,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
