interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/1/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://nin4adk2upubymchtc5437kr.vault.azure.net/keys/1/create?api-version=7.1-preview
[...]
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/5/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/5/9734ac49d32c4cbfafe3acf269530da8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qs83wikWM5TeBfqMjjwekK9c3-5IPZCazEeGV90_iFczULe8-593hAle0dEkjdpQMNWnQhDvYSEI_Yk0Fs5Gb84T645lgM8U2NHy2LNhsQZKcQlOvDIgPXqLAsqqU4CBKFCsYn8tr_ycpFoai-v4DQ1xReg8AiRgjNpI11MZVAdLLegBvF-q7jWqMz-7dtNTDLrzW2SctlifLnS78eC69gx6UuYaC1uVwuxbyMyRattiE-ZsOo6GeXXhA3HrEHdWRc2h54ok9kWvmd7Ws-gUodQSbgPRQrf7_ygg7HpH7pa4IVO2qZzi0HpUKuwxvCIgfXXKWzz2e3ZcHNnn4ukpyw","e":"AQAB"},"attributes":{"enabled":true,"created":1594833229,"updated":1594833229,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nin4adk2upubymchtc5437kr.vault.azure.net/keys/5/create?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/5?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/5","deletedDate":1594833229,"scheduledPurgeDate":1602609229,"key":{"kid":"https://vaultname.vault.azure.net/keys/5/9734ac49d32c4cbfafe3acf269530da8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qs83wikWM5TeBfqMjjwekK9c3-5IPZCazEeGV90_iFczULe8-593hAle0dEkjdpQMNWnQhDvYSEI_Yk0Fs5Gb84T645lgM8U2NHy2LNhsQZKcQlOvDIgPXqLAsqqU4CBKFCsYn8tr_ycpFoai-v4DQ1xReg8AiRgjNpI11MZVAdLLegBvF-q7jWqMz-7dtNTDLrzW2SctlifLnS78eC69gx6UuYaC1uVwuxbyMyRattiE-ZsOo6GeXXhA3HrEHdWRc2h54ok9kWvmd7Ws-gUodQSbgPRQrf7_ygg7HpH7pa4IVO2qZzi0HpUKuwxvCIgfXXKWzz2e3ZcHNnn4ukpyw","e":"AQAB"},"attributes":{"enabled":true,"created":1594833229,"updated":1594833229,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nin4adk2upubymchtc5437kr.vault.azure.net/keys/5?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/4?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: 4"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://nin4adk2upubymchtc5437kr.vault.azure.net/deletedkeys/4?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/deletedkeys/0?api-version=7.1-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://nin4adk2upubymchtc5437kr.vault.azure.net/deletedkeys/0?api-version=7.1-preview
version: 1
