interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key/21295c2b6de2460187d2f7aa64fe2ac8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wtRNuCNSlaa8J5WO9cqf1jrTPRvS1w5ClS_-FYP2R_br6NC-H7yLk6fU5M2ak5PT6df4SnpnGVJVNheeei-nULb7RalJVD37KkIC8e85CyR_2luczpXZkBcwO7AK3rc0aKQoW-MFWcxQs1wyuNkijzhmMqkdB_rvgoEJGrFqhe9QlPkQWpaHEqOPhUPAj8aHD9w8IhLpUSJ7o56Y-qMrF7LSCL9PgmE7E2V9Z1UaiDHN_T32OwHlADsXLtKZ9OLP4n1wL_6Py1-gESCR1k6FVWcln_sI0sEzPui4D5sG2YIj98FWmWtJKhOqEzuSsswsrK9dxXoTkVqrpGw1AuBd-w","e":"AQAB"},"attributes":{"enabled":true,"created":1596492932,"updated":1596492932,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"alg": "RSA-OAEP", "value": "GkImljLnWD9x0w9M9uXsO-mZxFMs3HsaiV1Cy0BiPkCkV7d1G1AywLOwY-n0N3ljJ00VKhnCOz3GdSzNiBlx5EsWQkALd45YnuTYeFVJW8zkat6q6zL2_-aEIDLx8ZAcTRTFaoJqSz3CXhyI9ZTDscNdIGSkfm8X2CGoK-azkIMHof6tm6aT8Y92oFY53slDDcszcuUufcJkZ0xQAcKeFfFcHN46AaZv2KU9DChvdZcljndy1vAhHvkwjt5fP048meooL3l_GfJ739iK_DPfKzvpjcCtXawXyS1kpNum-AYGSHHl4-NKKqgpOXXVtey2qBnQ1nVJRgBY-drcvjqkpw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key/21295c2b6de2460187d2f7aa64fe2ac8/decrypt?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key/21295c2b6de2460187d2f7aa64fe2ac8","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
