interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/de2adcf3ce744ce8859e2a41932cc134","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vU9QGe6oXjSbZhx8nmlZ7cMzd-3Linm4NoE27VmICB7bievLmzwopy-BUcIhs3RntNX8iaihgphH3Tj1HujjCPInk9vsVf29zoZ3IdWPRvctFvtAQCCTS1cuzkk08oZ7_NQmagMyKir4I7C6eQFGiup4Rrz9pkqpirDYpMP3H3Oc1-W5VWUn3fnarcWS0amK38oPP7niZUliPfd9T1gR2urC6yvxVa4dblqJkcX69hdKeIFU85qY7vs7xHczgHuKZ5qWnvASosSxa7Bi3DVYlPXNgfUdbhMJdwn-q6eO6RnwbYxrlgsZB_b3vyvkGu77yC3yTQESXT9EYGl1xb79BQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594829272,"updated":1594829272,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1594829274,"scheduledPurgeDate":1602605274,"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/de2adcf3ce744ce8859e2a41932cc134","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vU9QGe6oXjSbZhx8nmlZ7cMzd-3Linm4NoE27VmICB7bievLmzwopy-BUcIhs3RntNX8iaihgphH3Tj1HujjCPInk9vsVf29zoZ3IdWPRvctFvtAQCCTS1cuzkk08oZ7_NQmagMyKir4I7C6eQFGiup4Rrz9pkqpirDYpMP3H3Oc1-W5VWUn3fnarcWS0amK38oPP7niZUliPfd9T1gR2urC6yvxVa4dblqJkcX69hdKeIFU85qY7vs7xHczgHuKZ5qWnvASosSxa7Bi3DVYlPXNgfUdbhMJdwn-q6eO6RnwbYxrlgsZB_b3vyvkGu77yC3yTQESXT9EYGl1xb79BQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594829272,"updated":1594829272,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1594829274,"scheduledPurgeDate":1602605274,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1594829272,"updated":1594829272,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1594829274,"scheduledPurgeDate":1602605274,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key0/recover?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/de2adcf3ce744ce8859e2a41932cc134","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vU9QGe6oXjSbZhx8nmlZ7cMzd-3Linm4NoE27VmICB7bievLmzwopy-BUcIhs3RntNX8iaihgphH3Tj1HujjCPInk9vsVf29zoZ3IdWPRvctFvtAQCCTS1cuzkk08oZ7_NQmagMyKir4I7C6eQFGiup4Rrz9pkqpirDYpMP3H3Oc1-W5VWUn3fnarcWS0amK38oPP7niZUliPfd9T1gR2urC6yvxVa4dblqJkcX69hdKeIFU85qY7vs7xHczgHuKZ5qWnvASosSxa7Bi3DVYlPXNgfUdbhMJdwn-q6eO6RnwbYxrlgsZB_b3vyvkGu77yC3yTQESXT9EYGl1xb79BQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594829272,"updated":1594829272,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key0/?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"A key with (name/id) key0
        was not found in this key vault. If you recently deleted this key you may
        be able to recover it using the correct recovery command. For help resolving
        this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key5/?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key5/76911a6c1c76447c99fc170ec67f3bd1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rcx4rwwqmWdQXR9D3-8Ba9VQTtB2fvXHQiNLw0SvN4wzKS5dS45SbpmMZTHEx-gs2YJuew4Sq75Mpn2Bdu_g84Aun_744QvmlSjJjvvyr9Uk1ZzvWQrSkvcqeVTBicAa9G5S-Vsh7ELAzxEheeNqeWqjkLiTxAy1NjwCChCXVbHwD3hP1ftRL3l9GcaYg8aMhFiEZ-qF0OH6RmI62b8614Sj-a3UQjDDf5CaGj9c_6xiRJ5NKT7kY_wNduJSe8ufRsQCUoGhTMyXZajN9lEIyg1_FICkKdlzqweyRkrxCjAUxNMHcALx5XMgTWK_1kyAuNRf--RvnZBpWISMIKN7oQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594829273,"updated":1594829273,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
