interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/4/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/keys/4/create?api-version=7.1-preview
[...]
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/6/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/6/0f6018e390f6411e81b8d75bcfb24177","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uJHhoJa2Rh2upjHwCHmU0MWGCL4LjijJzIwmu227EvkrJmeGP16RTl_e6sIRubTK9ztOsWesMrgHKSgAMEzQjEhJEJukdZazkYeuFehm29m8rKpleTkdlpLxZfQweHPC0EzqKKn6_rQYyVaHWJi4qKZNceeC1_j_LWYd03yfx3tvQZIQIqug9aHTsANFojSztMinS1kvNMl8LhL_hq7O2QubLdrl4H5Eb-1oBtFausRI4uNNlNVK8I-uZqZLhXwMVf-Buoae9eIQgyo3fTYV0cm1dkQTIHUK5pAjezQC4UIlCtCSkIndYyABEfYY13EaFkniQ3jGu7kMEwF6DDdarw","e":"AQAB"},"attributes":{"enabled":true,"created":1594833285,"updated":1594833285,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/keys/6/create?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/6?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/6","deletedDate":1594833285,"scheduledPurgeDate":1602609285,"key":{"kid":"https://vaultname.vault.azure.net/keys/6/0f6018e390f6411e81b8d75bcfb24177","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uJHhoJa2Rh2upjHwCHmU0MWGCL4LjijJzIwmu227EvkrJmeGP16RTl_e6sIRubTK9ztOsWesMrgHKSgAMEzQjEhJEJukdZazkYeuFehm29m8rKpleTkdlpLxZfQweHPC0EzqKKn6_rQYyVaHWJi4qKZNceeC1_j_LWYd03yfx3tvQZIQIqug9aHTsANFojSztMinS1kvNMl8LhL_hq7O2QubLdrl4H5Eb-1oBtFausRI4uNNlNVK8I-uZqZLhXwMVf-Buoae9eIQgyo3fTYV0cm1dkQTIHUK5pAjezQC4UIlCtCSkIndYyABEfYY13EaFkniQ3jGu7kMEwF6DDdarw","e":"AQAB"},"attributes":{"enabled":true,"created":1594833285,"updated":1594833285,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/keys/6?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/6?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: 6"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/deletedkeys/6?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/6/recover?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/6/0f6018e390f6411e81b8d75bcfb24177","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uJHhoJa2Rh2upjHwCHmU0MWGCL4LjijJzIwmu227EvkrJmeGP16RTl_e6sIRubTK9ztOsWesMrgHKSgAMEzQjEhJEJukdZazkYeuFehm29m8rKpleTkdlpLxZfQweHPC0EzqKKn6_rQYyVaHWJi4qKZNceeC1_j_LWYd03yfx3tvQZIQIqug9aHTsANFojSztMinS1kvNMl8LhL_hq7O2QubLdrl4H5Eb-1oBtFausRI4uNNlNVK8I-uZqZLhXwMVf-Buoae9eIQgyo3fTYV0cm1dkQTIHUK5pAjezQC4UIlCtCSkIndYyABEfYY13EaFkniQ3jGu7kMEwF6DDdarw","e":"AQAB"},"attributes":{"enabled":true,"created":1594833285,"updated":1594833285,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/deletedkeys/6/recover?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/6/?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"A key with (name/id) 6 was
        not found in this key vault. If you recently deleted this key you may be able
        to recover it using the correct recovery command. For help resolving this
        issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/keys/6/?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/0/?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/0/d37cc16fe1a54ec79304c3e4ef3857d6","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xttIpWFaIvcmAPWILlWeDRiA0jkof6O7hYo6Hfzpe6xFSUNo7avqn65ZFAQwOb00YyIWQ4NgsV3qQK01I-wWHcGNKcTwMzED9muGDntdqEBkmbras5w7FeMKDxnWxU2FIAxHKoFr0hvTAAbjHfWKXfa8J4THQWCI2uwDp9xw6CYIBkYTK3pkK-pju0amgQcS9nkZalkBQUTbM6GuQoyu_wSE4cZxV8sNwf2s9BLlCjBQjYHhAQnLphmnlPO1eJTtbFu1h48twwOnFnZFJkFdc2M9O77pBaE63ZMVDGzMbxmQu63z7OWzGHWQL2zf4kgYt9qGaCcV-KUpVtiGD_OcHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594833285,"updated":1594833285,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://nievjyrj7u4h6mzvnm2arpmh.vault.azure.net/keys/0/?api-version=7.1-preview
version: 1
