interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-key/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-key/737cf82b5cc64f0fba2f3bac7b0ccc35","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"td26jmE-UCz0zVKi_93XZtkRAzFu7cUXrHVN62KuYhJkpm_uE_sZlWqFZEifeiOjDfUiJfUTgUcLep1kCpDV19P7oVzgS19lIUSF7lExUygAd-5Mn-4eHMU4GBct_iDv-YC8xDaUrqDix6xbHKptTqDUknya6AY9H2nP_GWyhwTh49YreyWR5-SiEFnYosFj7kPoRHo6Lhn65GzT84xBZCm2iq4xHyTWcfBxSCYRpHSl1agoOuWe3s5A5rPiJHL6C9HpRB77hWTt6TKkKc5fbMG82EwiSrfj7-JN43XzbX_1upeyp06N7PtTwPAGLla2xcPeGefnuySXUHdcdYeUhw","e":"AQAB"},"attributes":{"enabled":true,"created":1596492932,"updated":1596492932,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-key/737cf82b5cc64f0fba2f3bac7b0ccc35/sign?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-key/737cf82b5cc64f0fba2f3bac7b0ccc35","value":"L6P9pFo0EQGxths2h7dwvuLSfnUuU6CSMnRJD0OBDj0hPHboqvqymkqStJeItBHKNxzi7lZ865NlsUiOMmje284skZQT-NC0fysbK7AdCSP1eVXTBexSu_BTkEBNzZKq-K5kR6k9wEajyz5SxZ9bBC9aWF1gRClDphsHsTQ_qUtDwi2y5lXqPvGJN2SCbTZX2olrECC8Xrz5BPjv-Pj676qrbL4-ySL5WSTymzMCHRp2rvSlasmf8Ox38cNxrqaM3C6UUB1CLA1l5zleLB0heno7u7Zmrnm3sdb43djK3ch3ZiCM38OqZOnnqRBwMiY9exdniQTYd2Qqo8OlMVnQNA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
