interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/85ddc904c5a94eec8981a75045908fc1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0OytjdlKZDOi4tEZUo49fGD0FPmZyiIc_RDHJ8nTnEmKXYA8caKVDGFdzoX2LmbLUydv5_PiimWM6FR5i_zJHRd5gvvFKQ_qD2Moh4ki14VwdrOjmi1dRzE9ktNHpAQs2CjvXUeRxOXZUHZiA9Q82rq5CXQ4aSlsw_E4x8w7DVp6dWMbmYYsucshieRg_wykX3uRM_PlLhATwJprjA81_OE0zXQ8BcGixLgLYG7aBFYs9jE7VmoDRMZ2K6-LGCeWEMh2Nihj2tkq56j_Rjmzcp514zj9r8jyXc1gZEwx7XgcJmyC6y6TdDQjxjVcpu7eqKKhw42m7FucvjydFzl3-w","e":"AQAB"},"attributes":{"enabled":true,"created":1596492932,"updated":1596492932,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key3?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key3","deletedDate":1596492934,"scheduledPurgeDate":1604268934,"key":{"kid":"https://vaultname.vault.azure.net/keys/key3/6c2edce61cf74c4fbd8d7e26e17a2536","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5Xxs6BWMldQeU0oOJjZIqS0o0mhgX34njA_7wjNxtOqADfNsrm8xtgiwH6sQT07hAJxrYRZ5hyC7R7LoilnJ3jGjM1xUXslsySWgqxF2vGC7o3I0TR20gTUQOFBSYT9O71vC7bAi1iCd6Vcfhg-UkS9OJTc3EJIxMeVpEYDGqNnT78FMUsNSeb4U____OynkJATY5P5j60yE-R_iDeqkX26KjIw1ZiXFS8_snJhH25g0_J6z9nwqsHgjwMGTpnZSSyYyfcB0FgiJSv5ZWwemMUY3j2ofahXJYFxk3Mad_bSGn7FkBgTPNjTgudWEJWKhyHbSg3ONCoiMBX_xyembNQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596492933,"updated":1596492933,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key3?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"KeyNotFound","message":"Deleted
        Key not found: key3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596493152,"scheduledPurgeDate":1604269152,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1596492932,"updated":1596492932,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1596493013,"scheduledPurgeDate":1604269013,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
[...]
