interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-not-yet-valid/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"error":{"code":"Unauthorized","message":"Request
        is missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"attributes": {"nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-not-yet-valid/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-not-yet-valid/44108c6940914f8fb2786521b17b41f3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sSoZ1uI3c5ZipyHaT2asjZfEawQ2_6eWQeNJ2bSlXCOmSlkI5a3jt6m0fy07322TGUy1f_BS2Ho4ph0KZaPGwHXTWNBk1LabrElEqY34VZ3gRU1saE2BMs8Cp7F9UXmqZEUsRRP0F8ZyFz7jprevq8hUPtsGAS8FHwZ08gjIf4SEQpMODJeNLnlSYN6CzNJXoR10CrQ8acny_MJoktm1odBVdZFp53Q2Jib0kPWS7w6-ZUKm-v2wUFLJgF5BaC0P44FJM-1NgpsxDtl37z55zrVObKbJvNi0C3UE5YDOMNLFuGcK9m3DEBoh2KXD2-tB50P-m4iF_R90xdlXWcb7Xw","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1596492932,"updated":1596492932,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"nbf": 32503680000}, "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-not-yet-valid/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-not-yet-valid/5e5c6eb79024456db66feb35b4024773","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"fqqGaPmAVUvVnf45AKjlV5MExgigk3ikZH_TLUpu51c","y":"uSk_5-9TM-fLQIrnG_6G8l2uHxStkedeKqz3CU-QY5g"},"attributes":{"enabled":true,"nbf":32503680000,"created":1596492933,"updated":1596492933,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"exp": 946684800}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-expired/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-expired/ffe40647bdd0411baa04d72d6930cddf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s-7toUL4DXtuz7xkgckmMNn0tJCBAuiJt-lTZdHGAIQ7sw_zV10dBgZyS2fkbCb3UlhZUKaCpTirdOSR22W9D2NvhhyPbJFH8-KAIJHaTzB3qqhLq2QNiSNWbvhDsEmjiPnAD8fuFyRKIqCDKGpxFw-gnjq57y5qXUq0-3jt_2eC5oOxM4Xz2KSW8rsl1f2sEwYqurFWvZ-0RwRHnAopk6oB34O07hF2VXaTymSz-6BwMNHoybOOpEglEzRzOV62w0PWNBR_c-IRXPTSjj90ftl1nV4Cvn2VMPeENdaHY9VUJiORHmD2Cb-pPSsvHoOnh-B2YbHyQP_Ki3WUx4Lmyw","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1596492933,"updated":1596492933,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"exp": 946684800}, "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-expired/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-expired/f8761f651848455abca99d2057ff62a3","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"Y-_MTet0yg9RLtbtGU-CFseQhOv_MSBJy9KrssXcuww","y":"x5n4ST8w8mYsAZ7Q8P6KtIGmx8-PPme4jTGOKlgYImM"},"attributes":{"enabled":true,"exp":946684800,"created":1596492933,"updated":1596492933,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"nbf": 32503680000, "exp": 32535216000},
      "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-valid/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-valid/3f165f13d65e4a3d9a3099e94a2428a1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"00kkYxxY8IM71fqr7j6P9QUjhRdHt47CFtjUeZsVzQD_PqNO2JJm6v_W_e2E-A-qYvS5ozwd09wKf7vT00JhluFhO2Rw2WqOMsDnGXjo432hrie9b8VzZTtMaxjBVLXRtRX8BZg2ItJYlTe7v9pma13RoVWtBZiHMCcUoVd-OQhEmwC2hYE9Va0LOdXhaIUJPFWDQF7fV2qvwFarsyMa-JnkCqxtPq80_G76PjmNnL--HVjF_RWGxwJYkpFKniYpFp8LsfeaZOtQG0hPaXZVT7Qw-GTfIxcT6Y_pzBmeBPsSaRegwFD10Kin0ZFRLFepF8XpStdcFhD4TcehWx6q_w","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1596492934,"updated":1596492934,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"attributes": {"nbf": 32503680000, "exp": 32535216000},
      "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-valid/create?api-version=7.1
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-valid/5ba68f27918a496986958ad6b87631c8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"dvztFM65KeC97G3-a5gmdHxw9QOPHHtAybXl0b0L1G8","y":"Xmz8plHbmQaSNyk7y2rTbx0f97YXFIyMlgcNFXai0uo"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1596492934,"updated":1596492934,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
