interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/sec32f70fb3/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/keys/sec32f70fb3/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/sec32f70fb3/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/sec32f70fb3/aa1b98efe554408e9d55f8f87d87d394","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vTmsjQoYvi3qaGEAWYoJuqNEhhgIvmwRE9RQKHEyJ8Gcflq25uBQxhBv1l-Hy-oqTOY9krKZlA-TANfNPAsv19r2crNuL5cCw8K3xDuko5dauaGcyHiHyOtt_gdu0uvvjfYX3IpVA5xlR0yrIhkCcuFVU1OQMG9AMo2gzP40qTAQ9s3Y-DdlPzEA79YW7kwD-72BJIHr-pRP9IHePqFGx6v92yjd6mjwB3Np4njZYwsjCk_n5vsUUcUvb4Mb-9woLozND-96bWS74zrfycTMdjjsHMP88NazoRLGcvx5lxB8Dix0FEjz1WiTJYDdvKSyBWo-morzKogRw4LuuOY27Q","e":"AQAB"},"attributes":{"enabled":true,"created":1591745988,"updated":1591745988,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/keys/sec32f70fb3/create?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/sec32f70fb3?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1591745990,"scheduledPurgeDate":1599521990,"key":{"kid":"https://vaultname.vault.azure.net/keys/sec32f70fb3/c19ddcf14e2d4471ab0e0554f4275684","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mgXzTp06DH_A0Vkdo5PoE8mFVm3goo1TMiSd2VI6jBjtSrO4NHSX5S1_gMakSbWq9NT9GR1XaeesOq9jgeOsnuEgM63XDHM4RqzcvW36B5JbAIaD9NSKOfEEsiGxjiWg1PhImy9TBRyIPqcfl0vCf9S-G4DxUBe4sDuedDtTViqsERO6l22GAZ8FG1YOh46ux1ND55wP4L4nIXZNkIlavKLq-a6NzmLxmiVDD137rgdhsMnW7HaGGOADmuwuVKKkmjhrQEioJ-UKJfwLKCLPnEauS0faxP0hKy1pll1QA6CBlZm1omwJ5wIfrqKRjhV4VBrgFvPdBLVtznDT3csKWw","e":"AQAB"},"attributes":{"enabled":true,"created":1591745990,"updated":1591745990,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/keys/sec32f70fb3?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: sec32f70fb3"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1591745990,"scheduledPurgeDate":1599521990,"kid":"https://vaultname.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1591745990,"updated":1591745990,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/deletedkeys?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1591745990,"scheduledPurgeDate":1599521990,"kid":"https://vaultname.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1591745990,"updated":1591745990,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://n2hnmwiexza4tde726hlmdvl.vault.azure.net/deletedkeys?api-version=7.1-preview
version: 1
